<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../vaadin-checkbox/vaadin-checkbox.html">

<dom-module id="abas-checkbox">
  <script>
    /**
     * `abas-check-box`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AbasCheckBox extends Vaadin.CheckboxElement {
      static get is() { return 'abas-checkbox'; }
    }

    window.customElements.define(AbasCheckBox.is, AbasCheckBox);
  </script>
</dom-module>
